body {

  background-color: #EEEEEE;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.logo {
  padding: 3%;
}

* {
  font-size: 12px;
}

.page {
  max-width: 1200px;
  margin: auto;
  border: 1px solid #ffffff;
}

li {
  list-style: none;
}

.tab {
  display: flex;
  justify-content: center;
  align-self: center;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.tab-follow {
  button {
    flex: 1;
    font-size: 20px;
    border: 1px solid rgb(76, 76, 76);
    margin: auto 1%;

  }
}

.info-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-around;
  margin: 10px auto;
  background-color: #E0E0E0;
  padding: 10px;
  border: 4px solid #ffffff;
  color: #9E9E9E;
  border: 4px solid #ffffff;
  h3 {
    text-transform: uppercase;
  }
}

.list-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around;
}

.list-item {
  display: inline-flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  border: 2px solid #ffffff;
}

.list-divider, .sub-header {
  align-self: flex-start;
  font-size: smaller;
}

.profile-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-group{
  border-bottom: 3px solid #ffffff;
  margin-bottom: 20px ;
  padding: 10px auto;
}
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) {
  /* Styles */
  .main-page {
    border: none;
  }
  span, .list-divider, .sub-header {
    font-size: medium;
  }
  .list-divider, .sub-header {
    margin: 1em;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #311b92;
    padding: 5px;
    font-size: medium;
    .search-box {
      align-self: center;
      font-size: medium;
      flex: 1;
      max-width: 50%;

    }
    .search-button {
      color: rgb(181, 11, 78);
      border: 1px solid #333333;
      margin-left: 5px;
      font-size: medium;
    }
  }

  .list-item {
    display: inline-flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    min-width: 140px;
    margin: 2px;
    border: 2px solid #ffffff;
    .item-content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .item-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(76, 76, 76);
        opacity: 0.5;
        color: white;
        padding-left: 10px;
        border: 1px solid #ffffff;
        h3 {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }

  .profile-page {
    width: 100%;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }
    .info-content {
      display: flex;
      flex-direction: column;
      width: 300px;
      max-width: 100%;
      justify-content: space-around;
      margin: 10px auto;
      background-color: #E0E0E0;
      padding: 10px;
      border: 4px solid #ffffff;
      color: #9E9E9E;
      border: 4px solid #ffffff;
      h3 {
        text-transform: uppercase;
      }
    }
  }
  .group-list{
    display: block;
    overflow: scroll;
    width: 100%;
    max-height: 500px;
    height: 50%;
   margin-bottom: 10px;

  }
  .list-repos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px  ;

    .repos-item {
      border: 1px solid #ededed;
      padding: 10px;
      background-color: #ffffff;
      .repos-content {
        display: flex;
        flex-direction: column;
        h3{
          font-size: large;
          font-weight: bold;
        }
        span{
          font-size: small;
        }

      }
    }
  }
}

@media only screen and (min-device-width: 480px) {
  .list-item {
    display: inline-flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    margin: 2px;
    border: 2px solid #ffffff;
    .item-content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .item-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(76, 76, 76);
        opacity: 0.5;
        color: white;
        padding-left: 10px;
        border: 1px solid #ffffff;
        h3 {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }

  .profile-page {
    width: 100%;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }
    .info-content {
      display: flex;
      flex-direction: column;
      width: 300px;
      max-width: 100%;
      justify-content: space-around;
      margin: 10px auto;
      background-color: #E0E0E0;
      padding: 10px;
      border: 4px solid #ffffff;
      color: #9E9E9E;
      border: 4px solid #ffffff;
      h3 {
        text-transform: uppercase;
      }
    }
  }

}

@media only screen and (min-device-width: 640px) {
  .list-item {
    display: inline-flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    margin: 2px;
    border: 2px solid #ffffff;
    .item-content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .item-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(76, 76, 76);
        opacity: 0.5;
        color: white;
        padding-left: 10px;
        border: 1px solid #ffffff;
        h3 {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
  .profile-info {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .list-item {
    min-width: 300px;
    min-height: 300px;
    img {
      width: 300px;
      height: 300px;
    }
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) {
  .list-item {
    display: inline-flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 250px;
    min-height: 250px;
    margin: 2px;
    border: 2px solid #ffffff;
    .item-content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .item-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(76, 76, 76);
        opacity: 0.5;
        color: white;
        padding-left: 10px;
        border: 1px solid #ffffff;
        h3 {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
  .profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    img {
      width: 300px;
      height: 300px;
    }
    .info-content {
      display: flex;
      flex-direction: column;
      height: 300px;
      flex: 1;
      max-width: 100%;
      justify-content: space-around;
      margin: 10px auto;
      background-color: #E0E0E0;
      padding: 10px;
      border: 4px solid #ffffff;
      color: #9E9E9E;
      border: 4px solid #ffffff;
      h3 {
        text-transform: uppercase;
      }
    }
  }
  span {
    font-size: 20px;
  }
  h3 {
    font-size: 25px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
